

    <!-- Card Hero image -->
    <div class="w-100"   >
        <img [src]="data.imageUrl" [alt]="data.name" style=" object-fit: cover; height: 170px; ">
    </div>
    
    
    <!-- Card Contents -->
    <div class="pl-3 pb-3 mb-2">

        <h3 class="my-2"> {{ data.name }} </h3>
        
        <ul class="pl-2 m-0">
            <li *ngFor="let info of data.data | keyvalue" style="list-style-type: none;" class="p-0 m-0">
                <span class="txt-600" style="text-transform: capitalize;">
                    {{info.key}}:
                </span>
                <span class="input txt-300">
                    <!-- {{ (info.value | typeof) === 'number' ? (info.value | number) : info.value}} -->
                    {{ info.key === 'population' ?  (info.value | number) : info.value }}
                </span>
            </li>
        </ul>
    </div>
