
@media (min-width: 576px) and (max-width: 992px) { 
    :host {
        flex: 0 0 30%;
        max-width: 32%;
        // background-color: red;
    }


 }


@media (min-width: 992px) { 
    :host {
        flex: 0 0 22%;
        max-width: 25%;

        // background-color: red;
    }


 }


