


.input-container, .focusable {
    outline:none!important;

    &:focus-within {
        // outline: var(--input) 1px solid;
        box-shadow: 0 0 3px var(--input);
    }
    * {
        outline:none!important;
        
    }
}



input[type="text"] {
    border:0;
}


