


button {
    border: 0;
    cursor: pointer;
}





a.no-default-style {
    text-decoration: none;
    color: inherit;
}




ul.no-default-style {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
    }
}