




<main class="container">
    

    <section class="row justify-content-between m-0" role="search">
        <span class="r-1 col-7 col-lg-4 d-flex r-1 z-0 p-0 input-container element element-active">
            <span class=" input h-100 p-3 px-4">
                <fa-icon [icon]="faSearch"></fa-icon>
            </span>
            <input class=" w-100  h-100  input" type="text" name="countrySearchTerm" id="countrySearchTerm" placeholder="Search for a country... " style="background-color: transparent;" >
        </span>

        <app-dropdown>
            <button  slot="button" class="element input p-3 px-4 z-0  focusable">
                Filter By {{ (activeRegionFilter$ | async ) || 'Region'}}  
                <fa-icon [icon]="faChevronDown" class="pl-4" style="font-size: 85%;"></fa-icon>
            </button>
            <ul slot="dropdown" class="no-default-style element input z-0 focusable ">
                <li class="element-active p-1" tabindex="0" *ngFor="let region of regions" (click)="setFilterByRegion(region)" >
                     {{region}}
                </li>
            </ul>
        </app-dropdown>



    </section>

    <section class="row justify-content-around" style="">


        <a  *ngFor="let country of countries$ | async"  [routerLink]="country.countryCode" role="link"  class="col-12 col-lg-3 element m-2 my-4 p-0 r-1 z-1 hover-z-1 no-default-style">

            <!-- <country-card  *ngFor="let country of countries$ | async" [data]="country" [routerLink]="country.countryCode" role="link" (click)="log($event)"> </country-card> -->
            <country-card [data]="country"  (click)="log($event)"> </country-card>
        </a>


    </section>
</main>