

<nav class="row">
  <span class="container d-flex justify-content-between align-items-center">
    <h1 class="txt-600 m-0 p-0 underline-effect" routerLink="/" role="link" style="cursor: pointer;">
      Where in the world?
    </h1>
    <button class="txt-600 input element p-2 r-1" (click)="onToggleTheme()">
      <fa-icon [icon]="selectedTheme === 1 ? fasMoon : farMoon"></fa-icon>
      Dark Mode
    </button>
  </span>


</nav>




<div class="pt-4 mt-4">
  <router-outlet ></router-outlet>
</div>
  