

nav {
    width: 100vw;
    margin: 0 auto;
    height: 50px;

    background-color: var(--element);

    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.13);



}


.underline-effect {
    position: relative;
    &::before {
        content: '';

        bottom: 0;
        left: 50%;
        width: 0%;
        height: .04em;
        background-color: var(--input);
        transition-property: width, left, height;
        transition-duration: 176ms;
        will-change: width, left, height;
    }
    &:hover, &:focus {
        outline: 0;
        &::before {
            content: '';
            bottom: 0;
            width: 94%!important;
            height: 0.13em;
            background-color: var(--input);
            position: absolute;
            left: 3%;
            /* height: 300px; */
            /* width: 400px; */
        }
    }
}