

span[role='heading'] {
    font-weight: 600;
    color: var(--input);

}



.country-details-list {

    list-style-type: none;


    li {
        margin: .15em 0;
        font-weight: 300;
        color: var(--input);
    }
}

.country-border-list {
    list-style-type: none;

    display: flex;

    li {
        display: flex; justify-content: center; align-items: center;
        padding: .1em .5em;
        margin: 0 .3em;
        background-color: var(--element);
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.13);





        font-weight: 300;
        color: var(--input);

    }

}