

<div class="container">

    <section class="row justify-content-start m-0 mb-4" role="search">
        <span>
            <button class="element input p-3 px-4 z-0 hover-z-1 focusable d-flex align-items-center" routerLink="/" id="back">
                <fa-icon [icon]="faLongArrowAltLeft" class="pr-2" style="font-size: 150%;"></fa-icon>
                Back
            </button>
        </span>
        
        
    </section>
    
    
    
    
    <main class="row" *ngIf="pageContext$ | async as country">

            <div class="col-12 col-md-6">
                <img [src]="country.flag" alt=""  style="max-height: 390px">
            </div>

            <div class="col-12 col-md-6 d-flex flex-column align-items-center">

                <section>


                    <div class="d-flex align-items-center justify-content-start">
                        <h2>
                            {{ country.name }}
                        </h2>
                    </div>

                    <div class="row">

                        
                        <ul class="col-12 col-md-6 d-flex align-items-start flex-column col country-details-list">
                            <li>  <span role="heading">Native Name :</span> {{country.nativeName}}  </li>
                            <li>  <span role="heading">Population :</span> {{country.population | number}}  </li>
                            <li>  <span role="heading">Region :</span> {{country.region}}  </li>
                            <li>  <span role="heading">Sub Region :</span> {{country.subregion}}  </li>
                            <li>  <span role="heading">Captial :</span>  {{country.capital}}  </li>
                        </ul>

                        <ul class="col-12 col-md-6 d-flex align-items-start flex-column col country-details-list">
                            <li>  <span role="heading">Top Level Domain :</span> <span *ngFor="let d of country.topLevelDomain"> {{ d }}</span>  </li>
                            <li>  <span role="heading">Currencies :</span> <span *ngFor="let c of country.currencies"> {{ c.name }}</span>   </li>
                            <li>  <span role="heading">Languages :</span> <span *ngFor="let l of country.languages"> {{ l.name }}</span>  </li>
                        </ul>
                        
                    </div>


                    <div class="row align-items-center"  *ngIf="country.borders.length">

                        <span id="Border-Countries-label" role="heading"  class=" col-md-5 col-12">Border Countries: </span>

                        <ul class="country-border-list col" aria-labelledby="Border-Countries-label">
                            <li *ngFor="let borderCountry of country.borders">
                               <a [routerLink]="['/', borderCountry ]" class="no-default-style">
                                   {{borderCountry}} 
                               </a>  
                            </li>
                        </ul>


                    </div>

                </section>

            </div>

    </main>
</div>