

.dropdown-wrapper{
    position: relative;
    width: 100%;
    display: block;
}

.dropdown-list {
    position: absolute;
    margin-top: .2em;
    // top: 1.6em;
    display: none;
    z-index: 1;
    width: 100%;

    &.dropdown-shadow {
        box-shadow: 
        0 3px 6px rgba(0, 0, 0, 0.05),
        3px 1px 3px rgba(0, 0, 0, 0.07),
        -3px 1px 3px rgba(0, 0, 0, 0.07)

    }
    
    
    ;
    &.open {
        display: block;
    }

}   