

<span class="dropdown-wrapper" (keyup)="keyboardControllWrapper(dropdown, $event)" (keydown)="$event.preventDefault()">

    <span class="" (click)="toggle(dropdown, $event)" id="dropdown-button">
        <ng-content select="[slot=button]"></ng-content>
    </span>
    
    
    <div class="dropdown-list" [class.dropdown-shadow]="shadow" #dropdown  id="dropdown-list">
        <ng-content select="[slot=dropdown]">
        </ng-content>
    </div>
</span>