/* You can add global styles to this file, and also import other style files */

@use './styles/index';

// CUSTOM BOOTSTRAP BREAKPOINTS
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import "../node_modules/bootstrap/scss/mixins/breakpoints";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1900px
    );
    
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px,
    xxl: 1310px
);
        


@import "../node_modules/bootstrap/scss/mixins/grid-framework";
@import "../node_modules/bootstrap/scss/mixins/grid";

@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities/display";
@import "../node_modules/bootstrap/scss/utilities/flex";
@import "../node_modules/bootstrap/scss/utilities/spacing";


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

* { 
    box-sizing: border-box;
    // border: pink 1px dashed; //FOR DEV
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-rendering: optimizelegibility;

    background-color: var(--bg);
    color: var(--text);

    overflow-x: hidden;
}

body.light-mode {
    --white: hsl(0, 0%, 98%);
    --bg: hsl(0, 0%, 97%);

    --text: hsl(200, 15%, 8%);
    --element: hsl(0, 0%, 98%);
    --element-active: hsl(0, 0%, 95%);
    --input: hsl(0, 0%, 52%);

}
body.dark-mode {
// body {
    --white: hsl(0, 0%, 98%);
    --bg: hsl(207, 26%, 17%);

    --text:  hsl(0, 0%, 100%);
    --element: hsl(209, 23%, 22%);
    --element-active: hsl(208, 26%, 29%);
    --input: hsl(0, 0%, 82%);


}




h1,h2,h3,h4,h5,h6, b {
    text-shadow: 0px 0px 1px #202c37;
    text-rendering: optimizelegibility;
}



